body {
  font-family: sans-serif;
  list-style: none;
  background-color: #c01414;
  box-sizing: border-box;
}
input[type=text] {
  padding: 5px;
  margin-bottom: 10px;
}
input {
  border-radius: .2857rem;
  min-height: 2.587rem;
  max-width: 202px;
  min-width: 202px;
  box-shadow: 0 1px 2px 0 #202020;
}
.search-width {
  max-width: 202px;
  margin: auto;
}
button {
  min-height: 2.587rem;
  max-width: 202px;
  min-width: 202px;
  background-color: #4b4a4a;
  color: white;
  border: 1px solid #3e3e3e;
  box-shadow: 0 1px 2px 0 #202020;
  text-shadow:   -1px -1px 0  #202020,
  1px -1px 0  #202020,
  -1px 1px 0  #202020,
  1px 1px 0  #202020;
  border-radius: .2857rem;
  margin: auto;
  margin-top: 16px;
  font-size: 1.2em;
}
.block {
  display: block;
}
.center {
  margin: auto;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#d3d3d3;
  box-shadow: 0 1px 2px 0 #3e3e3e;
}
.nav-list {
  display: inline-block;
  padding: 8px;
  border-right: 1px solid #3e3e3e;
}
.nav-link {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: black;
}
.nav-list:hover {
  background-color: white;
}
.float-right {
  float: right;
}
.border-left {
  border-left: 1px solid #3e3e3e;
}
.result_item {
  -webkit-appearance: none;
  height: 300px;
  width: 280px;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  padding: 30px;
  border: 1px solid #3e3e3e;
  border-radius: .28571429rem;
  min-height: 2.85714286em;
  box-shadow: 0 1px 2px 0 #3e3e3e;
}
.result-image {
  max-width: 150px;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.about {
  padding: 0 2em;
}
.center-text {
  text-align: center;
}
.title {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 
  -1px -1px 0  #3e3e3e,
  1px -1px 0  #3e3e3e,
  -1px 1px 0  #3e3e3e,
  1px 1px 0  #3e3e3e;
  color: white;
}
.home-text {
  font-size: 1.2em;
  text-shadow: 
  -1px -1px 0  #3e3e3e,
  1px -1px 0  #3e3e3e,
  -1px 1px 0  #3e3e3e,
  1px 1px 0  #3e3e3e;
  color: white;
}
h1 {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
}
h2, h3 {
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
}
.result_star {
  display: block;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
}
.gray {
  color:  #3e3e3e;
}
.link-color {
  color: #c01414;
  text-decoration: underline;
}
.link-color:hover {
  color: #510000;
}
.phone-link {
  color: #3e3e3e;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 769px) {
  .result_item {
  -webkit-appearance: none;
  height: 300px;
  width: 280px;
  background-color: white;
  margin: 20px;
  padding: 30px;
  border: 1px solid #3e3e3e;
  border-radius: .28571429rem;
  min-height: 2.85714286em;
  box-shadow: 0 1px 2px 0 #3e3e3e;
}
}