body {
  font-family: sans-serif;
  list-style: none;
  background-color: #c01414;
  box-sizing: border-box;
}
input[type=text] {
  padding: 5px;
  margin-bottom: 10px;
}
input {
  border-radius: .2857rem;
  min-height: 2.587rem;
  box-shadow: 0 1px 2px 0 #202020;
}
.search-width {
  max-width: 202px;
  margin: auto;
}
button {
  min-height: 2.587rem;
  max-width: 209px;
  min-width: 209px;
  background-color: #4b4a4a;
  color: white;
  border: 1px solid #3e3e3e;
  box-shadow: 0 1px 2px 0 #202020;
  text-shadow:   -1px -1px 0  #202020,
  1px -1px 0  #202020,
  -1px 1px 0  #202020,
  1px 1px 0  #202020;
  border-radius: .2857rem;
  margin: auto;
  margin-top: 16px;
  font-size: 1.2em;
}
.block {
  display: block;
}
.center {
  margin: auto;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#d3d3d3;
  box-shadow: 0 1px 2px 0 #3e3e3e;
}
.nav-list {
  display: inline-block;
  padding: 8px;
  border-right: 1px solid #3e3e3e;
}
.nav-link {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: black;
}
.nav-list:hover {
  background-color: white;
}
.float-right {
  float: right;
}
.border-left {
  border-left: 1px solid #3e3e3e;
}
.about {
  padding: 0 2em;
}
.center-text {
  text-align: center;
}
.title {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 
  -1px -1px 0  #3e3e3e,
  1px -1px 0  #3e3e3e,
  -1px 1px 0  #3e3e3e,
  1px 1px 0  #3e3e3e;
  color: white;
}
.home-text {
  font-size: 1.2em;
  text-shadow: 
  -1px -1px 0  #3e3e3e,
  1px -1px 0  #3e3e3e,
  -1px 1px 0  #3e3e3e,
  1px 1px 0  #3e3e3e;
  color: white;
}
h1 {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
}